/*Media querie for desktop*/
@media (min-width: 1024px){

/*Format all*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;

}

/*Styles of body*/

body {
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 23%, rgba(33, 31, 74, 1) 99%, rgba(119, 83, 237, 1) 100%);
}

h1 {
    border-radius: 5px;
    background: #6e26c7;
    background: linear-gradient(90deg, rgba(110, 38, 199, 1) 23%, rgba(15, 2, 247, 1) 99%);
}

/*Styles of header and navbar*/

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(42, 123, 155, 1);
}

nav ul {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;

}

nav ul li {
    font-size: 20px;
    margin: 0 10px;
}

nav ul li a {
    color: beige;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(92, 18, 92);
}


/*Styles for #1 section, home/start*/
.class_home img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/*Styles for #2 section, who we are*/

.class_wwa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 55px;
    padding-bottom: 20px;
    font-style: italic;
}

h2:hover {
    color: rgb(92, 18, 92);
}

p {
    font-size: 35px;
    text-align: center;
}

span {
    color: #22b966;
    cursor: pointer;
}

/*Styles for #3 section products of landing page*/


.class_products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

#products h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    padding-top: 5%;
    padding-bottom: 5%;
}



.item {
    background-color: rgb(69, 153, 221);
    border-radius: 15px;
}

.item h3 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 30px;
    align-content: center;
}

.item h3:hover {
    color: rgb(92, 18, 92);
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.item img:hover {
    transform: scale(1.1);
}




/*Styles for last section contact*/

#contact h3 {
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: 55px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;

}

#contact h3:hover{
    color: rgb(92, 18, 92);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

label {
    text-align: center;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #5d8792;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    color: black;
    background-color: #555;
    transform: scale(0.9);
}


/*Styles for footer*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: white;
}

footer p{
    color: rgb(92, 18, 92);
}

}

/*For tablets*/
@media (min-width: 768px){
    /*Format all*/
    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;

}
/*Styles of body*/
body {
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 23%, rgba(33, 31, 74, 1) 99%, rgba(119, 83, 237, 1) 100%);
}

h1 {
    border-radius: 5px;
    background: #6e26c7;
    background: linear-gradient(90deg, rgba(110, 38, 199, 1) 23%, rgba(15, 2, 247, 1) 99%);
}
/*Styles of header and navbar*/
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(42, 123, 155, 1);
}

nav ul {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;

}

nav ul li {
    font-size: 20px;
    margin: 0 10px;
}

nav ul li a {
    color: beige;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(92, 18, 92);
}

/*Styles for #1 section, home/start*/
.class_home img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/*Styles for #2 section, who we are*/

.class_wwa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 55px;
    padding-bottom: 20px;
    font-style: italic;
}

h2:hover {
    color: rgb(92, 18, 92);
}

p {
    font-size: 35px;
    text-align: center;
}

span {
    color: #22b966;
    cursor: pointer;
}

/*Styles for #3 section products of landing page*/


.class_products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#products h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    padding-top: 5%;
    padding-bottom: 5%;
}



.item {
    background-color: rgb(69, 153, 221);
    border-radius: 15px;
}

.item h3 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 30px;
    align-content: center;
}

.item h3:hover {
    color: rgb(92, 18, 92);
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.item img:hover {
    transform: scale(1.1);
}

/*Styles for last section contact*/

#contact h3 {
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: 55px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;

}

#contact h3:hover{
    color: rgb(92, 18, 92);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

label {
    text-align: center;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #5d8792;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    color: black;
    background-color: #555;
    transform: scale(0.9);
}


/*Styles for footer*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: white;
}

footer p{
    color: rgb(92, 18, 92);
}



}


/*Mobile*/

@media (max-width: 480px){
     /*Format all*/
    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;

}
/*Styles of body*/
body {
    min-width: 100vh;
    
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 23%, rgba(33, 31, 74, 1) 99%, rgba(119, 83, 237, 1) 100%);
}

h1 {
    border-radius: 10px;
    background: #6e26c7;
    background: linear-gradient(90deg, rgba(110, 38, 199, 1) 23%, rgba(15, 2, 247, 1) 99%);
}
/*Styles of header and navbar*/
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(42, 123, 155, 1);
}



nav ul {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;

}

nav ul li {
    font-size: 20px;
    margin: 0 10px;
}

nav ul li a {
    color: beige;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(92, 18, 92);
}

/*Styles for #1 section, home/start*/
.class_home img {
    width: 100vh;
    height: auto;
    border-radius: 15px;
}

/*Styles for #2 section, who we are*/

.class_wwa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 55px;
    padding-bottom: 20px;
    font-style: italic;
}

h2:hover {
    color: rgb(92, 18, 92);
}

p {
    font-size: 35px;
    text-align: center;
}

span {
    color: #22b966;
    cursor: pointer;
}

/*Styles for #3 section products of landing page*/


.class_products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#products h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    padding-top: 5%;
    padding-bottom: 5%;
}



.item {
    background-color: rgb(69, 153, 221);
    border-radius: 15px;
}

.item h3 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 30px;
    align-content: center;
}

.item h3:hover {
    color: rgb(92, 18, 92);
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.item img:hover {
    transform: scale(1.1);
}

/*Styles for last section contact*/

#contact h3 {
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: 55px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;

}

#contact h3:hover{
    color: rgb(92, 18, 92);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

label {
    text-align: center;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #5d8792;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    color: black;
    background-color: #555;
    transform: scale(0.9);
}


/*Styles for footer*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: white;
}

footer p{
    color: rgb(92, 18, 92);
}


}